In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.2.post1)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

QUESTION (1) :
               Write a python program to display all the header tags from wikipedia.org and make data frame.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/Main_Page"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

header_tags = soup.find_all(["h1","h2","h3","h4","h5","h6"])
header_texts = [tag.get_text() for tag in header_tags]

df = pd.DataFrame(header_texts, columns= ["Header"])
print(df)

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

 QUESTION (2) : Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://presidentofindia.nic.in/former-presidents.htm"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [55]:
# Find the table containing the information
table = soup.find("table")

In [56]:
# Create empty lists to store the data
names = []
terms = []

In [63]:
for row in table.find_all("tr"):
    columns = row.find_all("td")
    name = columns[0].text.strip()
    term = columns[1].text.strip()
  # Append the data to the respective lists
    names.append(name)
    terms.append(term)
    
data = {"Name": names, "Term of Office": terms}
df = pd.DataFrame(data)
print(df)

AttributeError: 'NoneType' object has no attribute 'find_all'

QUESTION (3): Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

(a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

teams = []

for team in soup.select("tbody tr"):
    name = team.select("td")[1].text.strip()
    matches = team.select("td")[2].text.strip()
    points = team.select("td")[3].text.strip()
    rating = team.select("td")[4].text.strip()
    teams.append((name, matches, points, rating))
    
df = pd.DataFrame(teams, columns=["Teams", "Matches","Points","Rating"])
df = df.head(10)   
print(df)

              Teams Matches Points Rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
6     Sri Lanka\nSL      47  4,134     88
7   Bangladesh\nBAN      44  3,836     87
8  Afghanistan\nAFG      30  2,533     84
9   West Indies\nWI      38  2,582     68

(B) Top 10 ODI Batsmen along with the records of their team andrating.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

batsman_data = []
table = soup.find("table", class_="table")
rows = table.find_all("tr")

for row in rows[1:11]:
    cells = row.find_all("td")
    batsman = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    batsman_data.append([batsman, team, rating])
    
df = pd.DataFrame(batsman_data, columns= [ "Batsman", "Team", "Rating"])
print(df)

                 Batsman Team Rating
0           Shubman Gill  IND    826
1             Babar Azam  PAK    824
2            Virat Kohli  IND    791
3           Rohit Sharma  IND    769
4        Quinton de Kock   SA    760
5         Daryl Mitchell   NZ    750
6           David Warner  AUS    745
7  Rassie van der Dussen   SA    735
8           Harry Tector  IRE    729
9            Dawid Malan  ENG    729

(C) Top 10 ODI bowlers along with the records of their team andrating.

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

bowler_data = []
table = soup.find("table", class_="table")
rows = table.find_all("tr")

for row in rows[1:11]:
    cells = row.find_all("td")
    bowler = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    bowler_data.append([bowler, team, rating])
    
df = pd.DataFrame(bowler_data, columns= [ "Bowler", "Team", "Rating"])
print(df)

           Bowler Team Rating
0  Keshav Maharaj   SA    741
1  Josh Hazlewood  AUS    703
2  Mohammed Siraj  IND    699
3  Jasprit Bumrah  IND    685
4      Adam Zampa  AUS    675
5     Rashid Khan  AFG    667
6   Kuldeep Yadav  IND    667
7     Trent Boult   NZ    663
8  Shaheen Afridi  PAK    650
9  Mohammad Shami  IND    648

QUESTION (4): Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame- 

(a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

teams = []

for team in soup.select("tbody tr"):
    name = team.select("td")[1].text.strip()
    matches = team.select("td")[2].text.strip()
    points = team.select("td")[3].text.strip()
    rating = team.select("td")[4].text.strip()
    teams.append((name, matches, points, rating))
    
df = pd.DataFrame(teams, columns=["Teams", "Matches","Points","Rating"])
df = df.head(10)   
print(df)

              Teams Matches Points Rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
6     Sri Lanka\nSL       9    714     79
7   Bangladesh\nBAN      14  1,074     77
8     Thailand\nTHA      11    753     68
9     Pakistan\nPAK      24  1,602     67

(B) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

batsman_data = []
table = soup.find("table", class_="table")
rows = table.find_all("tr")

for row in rows[1:11]:
    cells = row.find_all("td")
    batsman = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    batsman_data.append([batsman, team, rating])
    
df = pd.DataFrame(batsman_data, columns= [ "Batsman", "Team", "Rating"])
print(df)

                Batsman Team Rating
0  Natalie Sciver-Brunt  ENG    807
1           Beth Mooney  AUS    750
2   Chamari Athapaththu   SL    736
3       Laura Wolvaardt   SA    727
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    698
6          Ellyse Perry  AUS    697
7      Harmanpreet Kaur  IND    694
8           Meg Lanning  AUS    662
9        Marizanne Kapp   SA    642

QUESTION (5): Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-

(i) Headline 
(ii) Time 
(iii)News Link

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

articles = soup.find_all("div", class_="Card-titleContainer")
headlines = []
links = []

for article in articles:
    headline = article.find("a").text.strip()
    headlines.append(headline)
    link = article.find("a")["href"]
    links.append(link)
    
data = {"Headline": headlines, "News Link": links}
df = pd.DataFrame(data)
print(df)

                                             Headline  \
0   S&P 500 rises on Friday to close at 2023 high:...
1   Fed Chair Powell calls talk of cutting rates '...
2   Treasury yields decline even as Powell says ra...
3   Bill Gates warns the world is likely to smash ...
4   UAE commits $30 billion to new climate-focused...
5   Progress on sustainability in the fashion indu...
6   Estonian PM calls on global powers to emulate ...
7   Bill Gates shares his ‘big hope’ for the COP28...
8   Op-ed: With continued geopolitical conflicts, ...
9   Zelenskyy says 'new phase of war' has begun, H...
10  Multiple civilians injured in strikes on Ukrai...
11  Russia slams Finland's border closure, warns t...
12  Finland to close entire border with Russia; wi...
13               CNBC's Sustainable Future Forum 2023
14  Wind power industry in moment of reckoning as ...
15  CEO on why natural gas infrastructure must be ...
16  Why one Tesla manager thinks used cars are 'ab...
17  Volvo Cars CEO strikes cautious tone on solid-...
18  Southeast Asia is on the cusp of a 'supercharg...
19  Cambodia's deputy prime minister: BRI has help...
20  Southeast Asia's first luxury hotel made from ...
21  Ahead of Indonesia’s elections, critics slam J...
22  Laos is spiraling toward a debt crisis as Chin...
23  Pack your jerseys. The era of 'sports tourism'...
24  See the photos that made National Geographic's...
25  The ultimate work perk? This company provides ...
26  Fear is driving Chinese travelers away from tw...
27  A UNESCO World Heritage site with thousands of...
28  Kevin Hart shares his No. 1 'secret weapon' fo...
29  Charlie Munger lived in the same home for 70 y...
30  Sandra Day O'Connor dies at 93—her legacy on t...
31  Harvard career expert: The No. 1 'desirable' t...
32  Your network is the key to your career, says T...

                                            News Link
0   https://www.cnbc.com/2023/11/30/stock-market-t...
1   https://www.cnbc.com/2023/12/01/fed-chair-powe...
2   https://www.cnbc.com/2023/12/01/us-treasury-yi...
3   https://www.cnbc.com/2023/12/01/bill-gates-war...
4   https://www.cnbc.com/2023/12/01/uae-commits-30...
5   https://www.cnbc.com/video/2023/12/01/sustaina...
6   https://www.cnbc.com/video/2023/12/01/estonian...
7   https://www.cnbc.com/2023/12/01/bill-gates-sha...
8   https://www.cnbc.com/2023/12/01/op-ed-war-is-a...
9   https://www.cnbc.com/2023/12/01/russia-ukraine...
10  https://www.cnbc.com/2023/11/30/ukraine-war-li...
11  https://www.cnbc.com/2023/11/29/ukraine-war-li...
12  https://www.cnbc.com/2023/11/28/ukraine-war-li...
13  https://www.cnbc.com/2023/11/29/cnbcs-sustaina...
14  https://www.cnbc.com/2023/11/13/wind-power-ind...
15  https://www.cnbc.com/2023/11/09/ceo-on-why-nat...
16  https://www.cnbc.com/2023/11/02/one-tesla-mana...
17  https://www.cnbc.com/2023/10/27/volvo-cars-ceo...
18  https://www.cnbc.com/2023/11/29/southeast-asia...
19  https://www.cnbc.com/video/2023/11/27/cambodia...
20  https://www.cnbc.com/2023/11/27/a-new-luxury-h...
21  https://www.cnbc.com/2023/11/20/indonesia-pres...
22  https://www.cnbc.com/2023/11/09/laos-is-spiral...
23  https://www.cnbc.com/2023/11/27/pack-your-jers...
24  https://www.cnbc.com/2023/11/23/best-photograp...
25  https://www.cnbc.com/2023/11/23/remote-company...
26  https://www.cnbc.com/2023/11/20/fear-driving-c...
27  https://www.cnbc.com/2023/11/12/a-unesco-world...
28  https://www.cnbc.com/2023/12/01/kevin-hart-say...
29  https://www.cnbc.com/2023/12/01/charlie-munger...
30  https://www.cnbc.com/2023/12/01/sandra-day-oco...
31  https://www.cnbc.com/2023/12/01/the-no-1-desir...
32  https://www.cnbc.com/video/2023/12/01/your-net...

QUESTION (6): Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame- 

(i) Paper Title 
(ii) Authors 
(iii) Published Date 
(iv) Paper URL

In [64]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [65]:
articles_container = soup.find("div", class_="pod-listing")

titles = []
authors = []
dates = []
urls = []

In [67]:
for article in articles_container.find_all("li"):
    title = article.find("h3").text.strip()
    titles.append(title)
    author = article.find("span", class_="text-xs").text.strip()
    authors.append(author)
    date = article.find("span", class_="text-xs").find_next_sibling("span").text.strip()
    dates.append(date)
    url = article.find("a")["href"]
    urls.append(url)
    
    
data = {"Paper Title": titles, "Authors": authors, "Published Date": dates, "Paper URL": urls }
df = pd.DataFrame(data)
print(df)

AttributeError: 'NoneType' object has no attribute 'find_all'

QUESTION (7): Write a python program to scrape mentioned details from dineout.co.in and make data frame- 

(i) Restaurant name 
(ii) Cuisine 
(iii) Location 
(iv) Ratings 
(v) Image URL

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [48]:
restaurant_names = soup.find_all('h2', class_='restnt-name ellipsis')
cuisines = soup.find_all('span', class_='double-line-ellipsis')
locations = soup.find_all('span', class_='double-line-ellipsis')
ratings = soup.find_all('span', class_='rating-value')
image_urls = soup.find_all('img', class_='img-responsive')

In [49]:
# Create empty list
restaurant_list = []
cuisine_list = []
location_list = []
rating_list = []
image_url_list = []

In [50]:
for name in restaurant_names:
    restaurant_list.append(name.text.strip())
    for cuisine in cuisines:
        cuisine_list.append(cuisine.text.strip())
        for location in locations:
            location_list.append(location.text.strip())
            for rating in ratings:
                rating_list.append(rating.text.strip())
                for image in image_urls:
                    image_url_list.append(image['src'])

In [51]:
data = {'Restaurant Name': restaurant_list, 'Cuisine': cuisine_list, 'Location': location_list, 'Ratings': rating_list, 'Image URL': image_url_list }

In [52]:
df = pd.DataFrame(data)

In [53]:
print(df)

Empty DataFrame
Columns: [Restaurant Name, Cuisine, Location, Ratings, Image URL]
Index: []